<html>
<head>
<title>
add a new project here
</title>
</head>
<body>

<h3>add project here</h3>
<!-- add a submit form here to submit a project  -->
<form name="add-project-form" action="add-project.html" method="post" border=2>
project name : <input type="text" name="project_name"/> <br/>
project desc : <input type="text" name="project_desc"/> <br/>
vcs url &nbsp&nbsp&nbsp     : <input type="text" name="vcs_url"/>     <br/>
vcs user     : <input type="text" name="vcs_login"/>  <br/>
vcs pass     : <input type="text" name="vcs_pass"/>   <br/>
issue url    : <input type="text" name="issue_url"/>     <br/>
issue user   : <input type="text" name="issue_login"/>  <br/>
issue pass   : <input type="text" name="issue_pass"/>   <br/>

<input type="submit" value="submit"/>
</from>
</body>
</html>