<html>
<head><title> count project </title></head>

<body>


<!-- count project by author -->
<h3>count project by author </h3>
<table id="count_project_by_author" border=2>
<tr > 
	<th> No </th>  <th>author </th>  <th> project count</th> </tr>
<tr></tr>

</table>


<!-- count commit by author -->
<h3>count commit by author </h3>
<table id="count_commit_by_author" border=2>
<tr > 
	<th> No </th> <th>author </th>  <th> commit count</th> </tr>
<tr></tr>
</table>

<!-- count change line by author -->
<h3>count change line by author </h3>
<table id="count_change_line_by_author" border=2>
<tr > 
	<th> No </th> <th>author </th>  <th> change line count</th> </tr>
<tr></tr>
</table>

</body>
</html>

